# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Ismael Mercado\Desktop\Labs\Fall 2020\CSC 256 Software Quality Assurance\lesson 10\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
